Mission Control/nodered/flows.json
[{"id":"d0eedaaa.75162","type":"tab","label":"Receiver","disabled":false,"info":""},{"id":"b9797713.f9d22","type":"tab","label":"Temperature/Humidity","disabled":false,"info":"Showing the temperature and humidity receiving from mqtt city/temperatur"},{"id":"b216897b.179778","type":"tab","label":"Particles","disabled":false,"info":""},{"id":"a661cc9.20a743","type":"tab","label":"Light","disabled":false,"info":""},{"id":"ca74063f.df0318","type":"tab","label":"Motion","disabled":false,"info":""},{"id":"93df162.cbb14e8","type":"tab","label":"Control","disabled":false,"info":"Flow for showing the emergency state."},{"id":"2d13a126.7dd3ee","type":"mqtt-broker","z":"","name":"master_broker","broker":"mqtt","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"d5911b2.b0587e8","type":"ui_tab","z":"","name":"Zentrale","icon":"fa-tachometer","disabled":false,"hidden":false},{"id":"c8833ada.824d48","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"emergenCITY Mission Control","hideToolbar":"false","allowSwipe":"false","lockMenu":"true","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"d2f9f1cb.43ab98","type":"ui_group","z":"","name":"Temperatur/Luftfeuchtigkeit","tab":"d5911b2.b0587e8","disp":true,"width":"12","collapse":true},{"id":"f7e2b1e1.6c71","type":"ui_group","z":"","name":"Feinstaub","tab":"d5911b2.b0587e8","disp":true,"width":"12","collapse":true},{"id":"7f7ae0b2.009e4","type":"ui_group","z":"","name":"Lichtintensität","tab":"d5911b2.b0587e8","disp":true,"width":"12","collapse":true},{"id":"5d397fa9.b7513","type":"serial-port","z":"","serialport":"/dev/ttyUSB0","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":true,"responsetimeout":"10000"},{"id":"b09686ef.9bb9d","type":"ui_group","z":"","name":"Bewegung","tab":"d5911b2.b0587e8","disp":true,"width":"12","collapse":true},{"id":"d31fdcf5.f2a6f","type":"ui_tab","z":"","name":"Kommunikation","icon":"fa-terminal","disabled":false,"hidden":false},{"id":"d18b9c22.1d8638","type":"ui_group","z":"","name":"Kommunikation","tab":"d31fdcf5.f2a6f","disp":false,"width":"12","collapse":false},{"id":"533c0a75.ae9afc","type":"serial in","z":"d0eedaaa.75162","name":"Serial input","serial":"5d397fa9.b7513","x":140,"y":220,"wires":[["7b809da8.beda04"]]},{"id":"49e69bb3.ad9fcc","type":"link in","z":"b9797713.f9d22","name":"temp in","links":["eb3c8e51.d7b408"],"x":215,"y":100,"wires":[["b284a939.a1ca08"]]},{"id":"7b809da8.beda04","type":"switch","z":"d0eedaaa.75162","name":"switch sensor type","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"temp/","vt":"str"},{"t":"cont","v":"humi/","vt":"str"},{"t":"cont","v":"particles/","vt":"str"},{"t":"cont","v":"lux/","vt":"str"},{"t":"cont","v":"broadband/","vt":"str"},{"t":"cont","v":"ir/","vt":"str"},{"t":"cont","v":"motion/","vt":"str"}],"checkall":"false","repair":false,"outputs":7,"x":370,"y":220,"wires":[["eb3c8e51.d7b408"],["5841e84d.92d1"],["4a9735a7.f10b9c"],["68f231a7.d8324"],["30cbe2fa.4e3f2e"],["913feaf6.2face8"],["e38a741a.9f8ed8"]]},{"id":"eb3c8e51.d7b408","type":"link out","z":"d0eedaaa.75162","name":"temp link","links":["49e69bb3.ad9fcc"],"x":575,"y":40,"wires":[]},{"id":"5841e84d.92d1","type":"link out","z":"d0eedaaa.75162","name":"humi link","links":["4ea75b79.3e9f24"],"x":575,"y":100,"wires":[]},{"id":"4a9735a7.f10b9c","type":"link out","z":"d0eedaaa.75162","name":"particle","links":["ad2ac805.0b60e"],"x":575,"y":160,"wires":[]},{"id":"68f231a7.d8324","type":"link out","z":"d0eedaaa.75162","name":"lux link","links":["e65eab3f.a5bb68","53aac49e.d55674"],"x":575,"y":220,"wires":[]},{"id":"30cbe2fa.4e3f2e","type":"link out","z":"d0eedaaa.75162","name":"broadband link","links":["8f4e4919.5cc498"],"x":575,"y":280,"wires":[]},{"id":"913feaf6.2face8","type":"link out","z":"d0eedaaa.75162","name":"ir link","links":[],"x":575,"y":340,"wires":[]},{"id":"e38a741a.9f8ed8","type":"link out","z":"d0eedaaa.75162","name":"motion link","links":["73ac806d.b4efb8"],"x":575,"y":400,"wires":[]},{"id":"55a88abc.101a14","type":"ui_chart","z":"b9797713.f9d22","name":"temperature chart","group":"d2f9f1cb.43ab98","order":0,"width":0,"height":0,"label":"Temperatur","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"","dot":false,"ymin":"-10","ymax":"40","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1F77B4","#AEC7E8","#FF7F0E","#2CA02C","#98DF8A","#D62728","#FF9896","#9467BD","#C5B0D5"],"useOldStyle":false,"x":650,"y":100,"wires":[[],[]]},{"id":"b284a939.a1ca08","type":"function","z":"b9797713.f9d22","name":"remove prefix","func":"msg.payload = msg.payload.split(\"/\").pop();\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":100,"wires":[["55a88abc.101a14"]]},{"id":"4ea75b79.3e9f24","type":"link in","z":"b9797713.f9d22","name":"humi in","links":["5841e84d.92d1"],"x":215,"y":180,"wires":[["41e234c.11d6fcc"]]},{"id":"a6bf0a24.e8f9b8","type":"ui_chart","z":"b9797713.f9d22","name":"humidity chart","group":"d2f9f1cb.43ab98","order":0,"width":0,"height":0,"label":"Luftfeuchtigkeit","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#AEC7E8","#1F77B4","#FF7F0E","#2CA02C","#98DF8A","#D62728","#FF9896","#9467BD","#C5B0D5"],"useOldStyle":false,"x":640,"y":180,"wires":[[],[]]},{"id":"41e234c.11d6fcc","type":"function","z":"b9797713.f9d22","name":"remove prefix","func":"msg.payload = msg.payload.split(\"/\").pop();\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":180,"wires":[["a6bf0a24.e8f9b8"]]},{"id":"ad2ac805.0b60e","type":"link in","z":"b216897b.179778","name":"particles in","links":["4a9735a7.f10b9c"],"x":215,"y":100,"wires":[["77f1bc26.b5aa84"]]},{"id":"22fe62c3.7e7d1e","type":"ui_chart","z":"b216897b.179778","name":"particles chart","group":"f7e2b1e1.6c71","order":0,"width":0,"height":0,"label":"Feinstaub","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"","dot":false,"ymin":"0","ymax":"2000","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#FF7F0E","#AEC7E8","#1F77B4","#2CA02C","#98DF8A","#D62728","#FF9896","#9467BD","#C5B0D5"],"useOldStyle":false,"x":640,"y":100,"wires":[[],[]]},{"id":"77f1bc26.b5aa84","type":"function","z":"b216897b.179778","name":"remove prefix","func":"msg.payload = msg.payload.split(\"/\").pop();\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":100,"wires":[["22fe62c3.7e7d1e"]]},{"id":"e65eab3f.a5bb68","type":"link in","z":"a661cc9.20a743","name":"lux in","links":["68f231a7.d8324"],"x":215,"y":100,"wires":[["3ef82827.323a3"]]},{"id":"8573fda3.bbb26","type":"ui_chart","z":"a661cc9.20a743","name":"lux chart","group":"7f7ae0b2.009e4","order":0,"width":0,"height":0,"label":"Lichtintensität","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"","dot":false,"ymin":"0","ymax":"20000","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#2CA02C","#AEC7E8","#FF7F0E","#1F77B4","#98DF8A","#D62728","#FF9896","#9467BD","#C5B0D5"],"useOldStyle":false,"x":620,"y":100,"wires":[[],[]]},{"id":"3ef82827.323a3","type":"function","z":"a661cc9.20a743","name":"remove prefix","func":"msg.payload = msg.payload.split(\"/\").pop();\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":100,"wires":[["8573fda3.bbb26"]]},{"id":"8f4e4919.5cc498","type":"link in","z":"a661cc9.20a743","name":"broadband in","links":["30cbe2fa.4e3f2e"],"x":215,"y":180,"wires":[["99f951cf.898fb"]]},{"id":"6b7c33e2.064f4c","type":"ui_chart","z":"a661cc9.20a743","name":"broadband chart","group":"7f7ae0b2.009e4","order":0,"width":0,"height":0,"label":"Breitband","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"","dot":false,"ymin":"0","ymax":"20000","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#FF9896","#AEC7E8","#FF7F0E","#1F77B4","#98DF8A","#D62728","#1F77B4","#9467BD","#C5B0D5"],"useOldStyle":false,"x":650,"y":180,"wires":[[],[]]},{"id":"99f951cf.898fb","type":"function","z":"a661cc9.20a743","name":"remove prefix","func":"msg.payload = msg.payload.split(\"/\").pop();\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":180,"wires":[["6b7c33e2.064f4c"]]},{"id":"53aac49e.d55674","type":"link in","z":"a661cc9.20a743","name":"lux in","links":["68f231a7.d8324"],"x":215,"y":260,"wires":[["313cc8c9.df51d"]]},{"id":"15168f09.6e1cb1","type":"ui_chart","z":"a661cc9.20a743","name":"ir chart","group":"7f7ae0b2.009e4","order":0,"width":0,"height":0,"label":"Infrarot","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"","dot":false,"ymin":"0","ymax":"20000","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#D62728","#AEC7E8","#FF7F0E","#1F77B4","#98DF8A","#AEC7E8","#FF9896","#9467BD","#C5B0D5"],"useOldStyle":false,"x":620,"y":260,"wires":[[],[]]},{"id":"313cc8c9.df51d","type":"function","z":"a661cc9.20a743","name":"remove prefix","func":"msg.payload = msg.payload.split(\"/\").pop();\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":260,"wires":[["15168f09.6e1cb1"]]},{"id":"73ac806d.b4efb8","type":"link in","z":"ca74063f.df0318","name":"motion in","links":["e38a741a.9f8ed8"],"x":215,"y":100,"wires":[["d882ddee.d0c53"]]},{"id":"d882ddee.d0c53","type":"ui_gauge","z":"ca74063f.df0318","name":"motion gauge","group":"b09686ef.9bb9d","order":1,"width":0,"height":0,"gtype":"gage","title":"","label":"","format":"{{value}}","min":0,"max":"1","colors":["#00B500","#00B500","#00B500"],"seg1":"","seg2":"","x":400,"y":100,"wires":[]},{"id":"e17aca60.cb4bf8","type":"ui_text_input","z":"93df162.cbb14e8","name":"citizen notif","label":"Notification","tooltip":"","group":"d18b9c22.1d8638","order":0,"width":"12","height":"2","passthru":false,"mode":"text","delay":"0","topic":"","x":270,"y":220,"wires":[["d344c62b.4b959","c6cfc9b1.9880e8"]]},{"id":"ee6c9e77.0bf4d8","type":"ui_button","z":"93df162.cbb14e8","name":"alarm button","group":"d18b9c22.1d8638","order":0,"width":"2","height":"1","passthru":false,"label":"Alarm","tooltip":"","color":"","bgcolor":"#D62728","icon":"fa-exclamation-triangle","payload":"crisis","payloadType":"str","topic":"","x":270,"y":300,"wires":[["6a3c8b80.1f77ac"]]},{"id":"6a3c8b80.1f77ac","type":"serial out","z":"93df162.cbb14e8","name":"send command","serial":"5d397fa9.b7513","x":700,"y":260,"wires":[]},{"id":"db46c1bb.1254f8","type":"change","z":"93df162.cbb14e8","name":"clear","rules":[{"t":"set","p":"payload","pt":"msg","to":"null","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":60,"wires":[["e17aca60.cb4bf8"]]},{"id":"d344c62b.4b959","type":"delay","z":"93df162.cbb14e8","name":"wait","pauseType":"delay","timeout":"10","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":470,"y":140,"wires":[["db46c1bb.1254f8"]]},{"id":"c6cfc9b1.9880e8","type":"switch","z":"93df162.cbb14e8","name":"stop null","property":"payload","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":480,"y":220,"wires":[["6a3c8b80.1f77ac"]]}]