Pi/nodered/.flows.json.backup
[{"id":"b9797713.f9d22","type":"tab","label":"Temperature/Humidity","disabled":false,"info":"Showing the temperature and humidity receiving from mqtt city/temperatur"},{"id":"b216897b.179778","type":"tab","label":"Particles","disabled":false,"info":""},{"id":"a661cc9.20a743","type":"tab","label":"Light","disabled":false,"info":""},{"id":"93df162.cbb14e8","type":"tab","label":"Emergency State","disabled":false,"info":"Flow for showing the emergency state."},{"id":"d0eedaaa.75162","type":"tab","label":"sender","disabled":false,"info":""},{"id":"2d13a126.7dd3ee","type":"mqtt-broker","z":"","name":"master_broker","broker":"mqtt","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"d5911b2.b0587e8","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"748d3bcb.4613f4","type":"ui_group","z":"","name":"Notfallindikator","tab":"d5911b2.b0587e8","disp":true,"width":"6","collapse":false},{"id":"c8833ada.824d48","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"emergenCITY Bürgerinfo","hideToolbar":"false","allowSwipe":"false","lockMenu":"true","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"d2f9f1cb.43ab98","type":"ui_group","z":"","name":"Temperatur/Luftfeuchtigkeit","tab":"d5911b2.b0587e8","disp":true,"width":"6","collapse":false},{"id":"f7e2b1e1.6c71","type":"ui_group","z":"","name":"Feinstaub","tab":"d5911b2.b0587e8","disp":true,"width":"6","collapse":false},{"id":"7f7ae0b2.009e4","type":"ui_group","z":"","name":"Lichtintensität","tab":"d5911b2.b0587e8","disp":true,"width":"6","collapse":false},{"id":"5d397fa9.b7513","type":"serial-port","z":"","serialport":"/dev/ttyUSB0","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":true,"responsetimeout":"10000"},{"id":"51fbed70.3ce2d4","type":"mqtt in","z":"93df162.cbb14e8","name":"alert state sub","topic":"city/alert_state","qos":"2","broker":"2d13a126.7dd3ee","x":120,"y":40,"wires":[["976a9d0d.9477a"]]},{"id":"9a721f06.d41","type":"ui_gauge","z":"93df162.cbb14e8","name":"Emergency Level","group":"748d3bcb.4613f4","order":1,"width":0,"height":0,"gtype":"donut","title":"","label":"","format":"","min":"99999999998","max":"99999999999","colors":["#00b500","#ca3838","#ca3838"],"seg1":"","seg2":"","x":610,"y":120,"wires":[]},{"id":"976a9d0d.9477a","type":"function","z":"93df162.cbb14e8","name":"Set warning level","func":"if(msg.payload == \"emergency\") {\n    msg.payload = 99999999999;\n} else {\n    msg.payload = 99999999998;\n}\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":120,"wires":[["9a721f06.d41"]]},{"id":"169908ab.c29bbf","type":"mqtt in","z":"b9797713.f9d22","name":"temp sensor","topic":"city/temp","qos":"2","broker":"2d13a126.7dd3ee","x":150,"y":100,"wires":[["465a1733.aa4be8","cf7798fa.1f1ac"]]},{"id":"465a1733.aa4be8","type":"ui_gauge","z":"b9797713.f9d22","name":"temperature","group":"d2f9f1cb.43ab98","order":1,"width":"0","height":"0","gtype":"gage","title":"Temperatur","label":"°C","format":"{{value | number:1}}","min":"-10","max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":550,"y":100,"wires":[]},{"id":"6d47b603.8ff518","type":"mqtt in","z":"b9797713.f9d22","name":"humi sensor","topic":"city/humi","qos":"2","broker":"2d13a126.7dd3ee","x":150,"y":260,"wires":[["27d26679.868d8a","f931666a.a1c91"]]},{"id":"27d26679.868d8a","type":"ui_gauge","z":"b9797713.f9d22","name":"humidity","group":"d2f9f1cb.43ab98","order":1,"width":"0","height":"0","gtype":"gage","title":"Luftfeuchtigkeit","label":"%","format":"{{value | number:1}}","min":"0","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":540,"y":260,"wires":[]},{"id":"472dbaa7.468d6c","type":"mqtt in","z":"b216897b.179778","name":"particle sensor","topic":"city/particles","qos":"2","broker":"2d13a126.7dd3ee","x":160,"y":100,"wires":[["b130503f.48e238","4d7181f5.b5244"]]},{"id":"b130503f.48e238","type":"ui_gauge","z":"b216897b.179778","name":"particles","group":"f7e2b1e1.6c71","order":1,"width":"0","height":"0","gtype":"gage","title":"","label":"ppm","format":"{{value | number:0}}","min":"0","max":"2000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"1000","seg2":"1500","x":560,"y":100,"wires":[]},{"id":"6c0384d8.43df3c","type":"mqtt in","z":"a661cc9.20a743","name":"light sensor","topic":"city/lux","qos":"2","broker":"2d13a126.7dd3ee","x":150,"y":100,"wires":[["be97b13e.de129","dd28499d.bcb948"]]},{"id":"be97b13e.de129","type":"ui_gauge","z":"a661cc9.20a743","name":"lux","group":"7f7ae0b2.009e4","order":1,"width":"0","height":"0","gtype":"gage","title":"","label":"lx","format":"{{value | number:0}}","min":"0","max":"20000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"1000","seg2":"1500","x":550,"y":100,"wires":[]},{"id":"f931666a.a1c91","type":"function","z":"b9797713.f9d22","name":"prepend type","func":"msg.payload = \"humi/\" + msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":340,"wires":[["416b1b1e.c7067c"]]},{"id":"a1bbc200.da8f48","type":"link in","z":"d0eedaaa.75162","name":"data to send","links":["416b1b1e.c7067c","a5996257.e1dc78","acd3fff1.d9a2f8","c7a02a3.8069c58"],"x":260,"y":140,"wires":[["712ab34a.ee6314"]]},{"id":"712ab34a.ee6314","type":"serial out","z":"d0eedaaa.75162","name":"serial to MC","serial":"5d397fa9.b7513","x":470,"y":140,"wires":[]},{"id":"416b1b1e.c7067c","type":"link out","z":"b9797713.f9d22","name":"send","links":["a1bbc200.da8f48"],"x":495,"y":340,"wires":[]},{"id":"cf7798fa.1f1ac","type":"function","z":"b9797713.f9d22","name":"prepend type","func":"msg.payload = \"temp/\" + msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":180,"wires":[["a5996257.e1dc78"]]},{"id":"a5996257.e1dc78","type":"link out","z":"b9797713.f9d22","name":"send","links":["a1bbc200.da8f48"],"x":495,"y":180,"wires":[]},{"id":"4d7181f5.b5244","type":"function","z":"b216897b.179778","name":"prepend type","func":"msg.payload = \"particles/\" + msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":180,"wires":[["acd3fff1.d9a2f8"]]},{"id":"acd3fff1.d9a2f8","type":"link out","z":"b216897b.179778","name":"send","links":["a1bbc200.da8f48"],"x":515,"y":180,"wires":[]},{"id":"dd28499d.bcb948","type":"function","z":"a661cc9.20a743","name":"prepend type","func":"msg.payload = \"lux/\" + msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":180,"wires":[["c7a02a3.8069c58"]]},{"id":"c7a02a3.8069c58","type":"link out","z":"a661cc9.20a743","name":"send","links":["a1bbc200.da8f48"],"x":515,"y":180,"wires":[]}]