Pi/nodered/flows.json
[{"id":"b9797713.f9d22","type":"tab","label":"Temperature/Humidity","disabled":false,"info":"Showing the temperature and humidity receiving from mqtt city/temperatur"},{"id":"b216897b.179778","type":"tab","label":"Particles","disabled":false,"info":""},{"id":"a661cc9.20a743","type":"tab","label":"Light","disabled":false,"info":""},{"id":"93df162.cbb14e8","type":"tab","label":"Emergency State","disabled":false,"info":"Flow for showing the emergency state."},{"id":"2d13a126.7dd3ee","type":"mqtt-broker","z":"","name":"master_broker","broker":"mqtt","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"d5911b2.b0587e8","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"748d3bcb.4613f4","type":"ui_group","z":"","name":"Notfallindikator","tab":"d5911b2.b0587e8","disp":true,"width":"6","collapse":false},{"id":"c8833ada.824d48","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"emergenCITY Bürgerinfo","hideToolbar":"false","allowSwipe":"false","lockMenu":"true","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"d2f9f1cb.43ab98","type":"ui_group","z":"","name":"Temperatur/Luftfeuchtigkeit","tab":"d5911b2.b0587e8","disp":true,"width":"6","collapse":false},{"id":"f7e2b1e1.6c71","type":"ui_group","z":"","name":"Feinstaub","tab":"d5911b2.b0587e8","disp":true,"width":"6","collapse":false},{"id":"7f7ae0b2.009e4","type":"ui_group","z":"","name":"Lichtintensität","tab":"d5911b2.b0587e8","disp":true,"width":"6","collapse":false},{"id":"51fbed70.3ce2d4","type":"mqtt in","z":"93df162.cbb14e8","name":"alert state sub","topic":"city/alert_state","qos":"2","broker":"2d13a126.7dd3ee","x":120,"y":40,"wires":[["976a9d0d.9477a"]]},{"id":"9a721f06.d41","type":"ui_gauge","z":"93df162.cbb14e8","name":"Emergency Level","group":"748d3bcb.4613f4","order":1,"width":0,"height":0,"gtype":"gage","title":"","label":"","format":"","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":610,"y":120,"wires":[]},{"id":"976a9d0d.9477a","type":"function","z":"93df162.cbb14e8","name":"Set warning level","func":"if(msg.payload == \"emergency\") {\n    msg.payload = 10;\n} else {\n    msg.payload = 1;\n}\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":120,"wires":[["9a721f06.d41"]]},{"id":"169908ab.c29bbf","type":"mqtt in","z":"b9797713.f9d22","name":"temp sensor","topic":"city/temp","qos":"2","broker":"2d13a126.7dd3ee","x":150,"y":120,"wires":[["465a1733.aa4be8"]]},{"id":"465a1733.aa4be8","type":"ui_gauge","z":"b9797713.f9d22","name":"temperature","group":"d2f9f1cb.43ab98","order":1,"width":"0","height":"0","gtype":"gage","title":"Temperatur","label":"°C","format":"{{value | number:1}}","min":"-10","max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":470,"y":120,"wires":[]},{"id":"6d47b603.8ff518","type":"mqtt in","z":"b9797713.f9d22","name":"humi sensor","topic":"city/humi","qos":"2","broker":"2d13a126.7dd3ee","x":150,"y":220,"wires":[["27d26679.868d8a"]]},{"id":"27d26679.868d8a","type":"ui_gauge","z":"b9797713.f9d22","name":"humidity","group":"d2f9f1cb.43ab98","order":1,"width":"0","height":"0","gtype":"gage","title":"Luftfeuchtigkeit","label":"%","format":"{{value | number:1}}","min":"0","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":460,"y":220,"wires":[]},{"id":"472dbaa7.468d6c","type":"mqtt in","z":"b216897b.179778","name":"particle sensor","topic":"city/particles","qos":"2","broker":"2d13a126.7dd3ee","x":180,"y":100,"wires":[["b130503f.48e238"]]},{"id":"b130503f.48e238","type":"ui_gauge","z":"b216897b.179778","name":"particles","group":"f7e2b1e1.6c71","order":1,"width":"0","height":"0","gtype":"gage","title":"","label":"ppm","format":"{{value | number:0}}","min":"0","max":"2000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"1000","seg2":"1500","x":480,"y":100,"wires":[]},{"id":"6c0384d8.43df3c","type":"mqtt in","z":"a661cc9.20a743","name":"light sensor","topic":"city/lux","qos":"2","broker":"2d13a126.7dd3ee","x":550,"y":100,"wires":[["be97b13e.de129"]]},{"id":"be97b13e.de129","type":"ui_gauge","z":"a661cc9.20a743","name":"lux","group":"7f7ae0b2.009e4","order":1,"width":"0","height":"0","gtype":"gage","title":"","label":"lx","format":"{{value | number:0}}","min":"0","max":"20000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"1000","seg2":"1500","x":850,"y":100,"wires":[]}]