Pi/nodered/flows.json
[{"id":"b9797713.f9d22","type":"tab","label":"Temperature/Humidity","disabled":false,"info":"Showing the temperature and humidity receiving from mqtt city/temperatur"},{"id":"b216897b.179778","type":"tab","label":"CO2","disabled":false,"info":""},{"id":"a661cc9.20a743","type":"tab","label":"Light","disabled":false,"info":""},{"id":"ca74063f.df0318","type":"tab","label":"Motion","disabled":false,"info":""},{"id":"93df162.cbb14e8","type":"tab","label":"Emergency State","disabled":false,"info":"Flow for showing the emergency state."},{"id":"d0eedaaa.75162","type":"tab","label":"Sender","disabled":false,"info":""},{"id":"894e7e70.f578a8","type":"tab","label":"Receiver","disabled":false,"info":""},{"id":"53e12597.b17514","type":"tab","label":"Config","disabled":false,"info":""},{"id":"61cc2a48.abb774","type":"tab","label":"Camera","disabled":false,"info":""},{"id":"a57e582b.a246a","type":"tab","label":"Citizens","disabled":false,"info":""},{"id":"2d13a126.7dd3ee","type":"mqtt-broker","z":"","name":"master_broker","broker":"mqtt","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"d5911b2.b0587e8","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"748d3bcb.4613f4","type":"ui_group","z":"","name":"Informationen","tab":"d5911b2.b0587e8","disp":true,"width":"6","collapse":false},{"id":"c8833ada.824d48","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"emergenCITY Bürgerinfo","hideToolbar":"false","allowSwipe":"false","lockMenu":"true","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"d2f9f1cb.43ab98","type":"ui_group","z":"","name":"Temperatur/Luftfeuchtigkeit","tab":"d5911b2.b0587e8","disp":true,"width":"6","collapse":false},{"id":"f7e2b1e1.6c71","type":"ui_group","z":"","name":"CO2","tab":"d5911b2.b0587e8","disp":true,"width":"6","collapse":false},{"id":"7f7ae0b2.009e4","type":"ui_group","z":"","name":"Lichtintensität","tab":"d5911b2.b0587e8","disp":true,"width":"6","collapse":false},{"id":"5d397fa9.b7513","type":"serial-port","z":"","serialport":"/dev/ttyUSB0","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":true,"responsetimeout":"10000"},{"id":"c9fba02d.296778","type":"ui_group","z":"","name":"test","tab":"d5911b2.b0587e8","disp":true,"width":"12","collapse":false},{"id":"51fbed70.3ce2d4","type":"mqtt in","z":"93df162.cbb14e8","name":"alert state sub","topic":"city/alert_state","qos":"2","broker":"2d13a126.7dd3ee","x":150,"y":100,"wires":[["976a9d0d.9477a"]]},{"id":"9a721f06.d41","type":"ui_gauge","z":"93df162.cbb14e8","name":"Emergency Level","group":"748d3bcb.4613f4","order":1,"width":0,"height":0,"gtype":"donut","title":"Status","label":"","format":"","min":"99999999998","max":"99999999999","colors":["#00b500","#ca3838","#ca3838"],"seg1":"","seg2":"","x":650,"y":100,"wires":[]},{"id":"976a9d0d.9477a","type":"function","z":"93df162.cbb14e8","name":"Set warning level","func":"if(msg.payload == \"Notfall\") {\n    msg.payload = 99999999999;\n} else {\n    msg.payload = 99999999998;\n}\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":100,"wires":[["9a721f06.d41"]]},{"id":"169908ab.c29bbf","type":"mqtt in","z":"b9797713.f9d22","name":"temp sensor","topic":"city/temp","qos":"2","broker":"2d13a126.7dd3ee","x":150,"y":100,"wires":[["465a1733.aa4be8","cf7798fa.1f1ac"]]},{"id":"465a1733.aa4be8","type":"ui_gauge","z":"b9797713.f9d22","name":"temperature","group":"d2f9f1cb.43ab98","order":1,"width":"0","height":"0","gtype":"gage","title":"Temperatur","label":"°C","format":"{{value | number:1}}","min":"-10","max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":550,"y":100,"wires":[]},{"id":"6d47b603.8ff518","type":"mqtt in","z":"b9797713.f9d22","name":"humi sensor","topic":"city/humi","qos":"2","broker":"2d13a126.7dd3ee","x":150,"y":260,"wires":[["27d26679.868d8a","f931666a.a1c91"]]},{"id":"27d26679.868d8a","type":"ui_gauge","z":"b9797713.f9d22","name":"humidity","group":"d2f9f1cb.43ab98","order":1,"width":"0","height":"0","gtype":"gage","title":"Luftfeuchtigkeit","label":"%","format":"{{value | number:1}}","min":"0","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":540,"y":260,"wires":[]},{"id":"472dbaa7.468d6c","type":"mqtt in","z":"b216897b.179778","name":"co2 sensor","topic":"city/co2","qos":"2","broker":"2d13a126.7dd3ee","x":140,"y":100,"wires":[["b130503f.48e238","4d7181f5.b5244"]]},{"id":"b130503f.48e238","type":"ui_gauge","z":"b216897b.179778","name":"co2","group":"f7e2b1e1.6c71","order":1,"width":"0","height":"0","gtype":"gage","title":"","label":"ppm","format":"{{value | number}}","min":"0","max":"2000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"1000","seg2":"1500","x":550,"y":100,"wires":[]},{"id":"6c0384d8.43df3c","type":"mqtt in","z":"a661cc9.20a743","name":"light sensor","topic":"city/lux","qos":"2","broker":"2d13a126.7dd3ee","x":150,"y":100,"wires":[["be97b13e.de129","dd28499d.bcb948"]]},{"id":"be97b13e.de129","type":"ui_gauge","z":"a661cc9.20a743","name":"lux","group":"7f7ae0b2.009e4","order":1,"width":"0","height":"0","gtype":"gage","title":"","label":"lx","format":"{{value | number:0}}","min":"0","max":"20000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"1000","seg2":"1500","x":550,"y":100,"wires":[]},{"id":"f931666a.a1c91","type":"function","z":"b9797713.f9d22","name":"prepend type","func":"msg.payload = \"humi/\" + msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":340,"wires":[["416b1b1e.c7067c"]]},{"id":"a1bbc200.da8f48","type":"link in","z":"d0eedaaa.75162","name":"data to send","links":["416b1b1e.c7067c","a5996257.e1dc78","acd3fff1.d9a2f8","c7a02a3.8069c58","a34d9c25.6158f","bb38eed0.314fd","3c8df3c6.db55a4","29197240.c58406","78d8719c.a7b6b"],"x":260,"y":140,"wires":[["712ab34a.ee6314"]]},{"id":"712ab34a.ee6314","type":"serial out","z":"d0eedaaa.75162","name":"serial to MC","serial":"5d397fa9.b7513","x":470,"y":140,"wires":[]},{"id":"416b1b1e.c7067c","type":"link out","z":"b9797713.f9d22","name":"send","links":["a1bbc200.da8f48"],"x":495,"y":340,"wires":[]},{"id":"cf7798fa.1f1ac","type":"function","z":"b9797713.f9d22","name":"prepend type","func":"msg.payload = \"temp/\" + msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":180,"wires":[["a5996257.e1dc78"]]},{"id":"a5996257.e1dc78","type":"link out","z":"b9797713.f9d22","name":"send","links":["a1bbc200.da8f48"],"x":495,"y":180,"wires":[]},{"id":"4d7181f5.b5244","type":"function","z":"b216897b.179778","name":"prepend type","func":"msg.payload = \"co2/\" + msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":180,"wires":[["acd3fff1.d9a2f8"]]},{"id":"acd3fff1.d9a2f8","type":"link out","z":"b216897b.179778","name":"send","links":["a1bbc200.da8f48"],"x":515,"y":180,"wires":[]},{"id":"dd28499d.bcb948","type":"function","z":"a661cc9.20a743","name":"prepend type","func":"msg.payload = \"lux/\" + msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":180,"wires":[["c7a02a3.8069c58"]]},{"id":"c7a02a3.8069c58","type":"link out","z":"a661cc9.20a743","name":"send","links":["a1bbc200.da8f48"],"x":515,"y":180,"wires":[]},{"id":"e9d617dc.6f967","type":"mqtt in","z":"a661cc9.20a743","name":"broadband sensor","topic":"city/broadband","qos":"2","broker":"2d13a126.7dd3ee","x":170,"y":260,"wires":[["8a7377e2.341a38"]]},{"id":"8a7377e2.341a38","type":"function","z":"a661cc9.20a743","name":"prepend type","func":"msg.payload = \"broadband/\" + msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":260,"wires":[["a34d9c25.6158f"]]},{"id":"a34d9c25.6158f","type":"link out","z":"a661cc9.20a743","name":"send","links":["a1bbc200.da8f48"],"x":515,"y":260,"wires":[]},{"id":"cb288577.d0db9","type":"mqtt in","z":"a661cc9.20a743","name":"ir sensor","topic":"city/ir","qos":"2","broker":"2d13a126.7dd3ee","x":140,"y":340,"wires":[["fb84dc89.22bee"]]},{"id":"fb84dc89.22bee","type":"function","z":"a661cc9.20a743","name":"prepend type","func":"msg.payload = \"ir/\" + msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":340,"wires":[["bb38eed0.314fd"]]},{"id":"bb38eed0.314fd","type":"link out","z":"a661cc9.20a743","name":"send","links":["a1bbc200.da8f48"],"x":515,"y":340,"wires":[]},{"id":"e87119af.bde62","type":"mqtt in","z":"ca74063f.df0318","name":"motion sensor","topic":"city/motion","qos":"2","broker":"2d13a126.7dd3ee","x":150,"y":100,"wires":[["90504646.398408"]]},{"id":"90504646.398408","type":"function","z":"ca74063f.df0318","name":"prepend type","func":"msg.payload = \"motion/\" + msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":100,"wires":[["3c8df3c6.db55a4"]]},{"id":"3c8df3c6.db55a4","type":"link out","z":"ca74063f.df0318","name":"send","links":["a1bbc200.da8f48"],"x":515,"y":100,"wires":[]},{"id":"3a44665b.78382a","type":"serial in","z":"894e7e70.f578a8","name":"serial in","serial":"5d397fa9.b7513","x":90,"y":160,"wires":[["8b230438.5ca428"]]},{"id":"a09b7ce8.26f78","type":"switch","z":"894e7e70.f578a8","name":"check crisis","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"crisis","vt":"str"},{"t":"cont","v":"restart","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":410,"y":200,"wires":[["3f5df559.b1c60a"],["271a0e4d.170f72"]]},{"id":"3f5df559.b1c60a","type":"function","z":"894e7e70.f578a8","name":"replace crisis","func":"msg.payload = \"Notfall\";\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":160,"wires":[["d7b6a80f.b5e58","94f42ccd.7f495"]]},{"id":"d7b6a80f.b5e58","type":"link out","z":"894e7e70.f578a8","name":"set crisis indicator link","links":["ca1e34b7.b364a8"],"x":795,"y":160,"wires":[]},{"id":"ca1e34b7.b364a8","type":"link in","z":"93df162.cbb14e8","name":"crisis link","links":["d7b6a80f.b5e58"],"x":195,"y":180,"wires":[["976a9d0d.9477a"]]},{"id":"271a0e4d.170f72","type":"function","z":"894e7e70.f578a8","name":"replace restart","func":"msg.payload = \"\";\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":240,"wires":[["d7b6a80f.b5e58","94f42ccd.7f495"]]},{"id":"8b230438.5ca428","type":"switch","z":"894e7e70.f578a8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"cmd/","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":230,"y":160,"wires":[["a09b7ce8.26f78"]]},{"id":"94f42ccd.7f495","type":"link out","z":"894e7e70.f578a8","name":"write cfg link","links":["7c6c8855.1ff7a"],"x":795,"y":240,"wires":[]},{"id":"7c6c8855.1ff7a","type":"link in","z":"53e12597.b17514","name":"cfg link","links":["94f42ccd.7f495"],"x":215,"y":140,"wires":[["6ebc2b0e.279c14"]]},{"id":"2c6b2a42.0a42a6","type":"template","z":"53e12597.b17514","name":"regular template","field":"payload","fieldType":"msg","format":"text","syntax":"plain","template":"[DEFAULT]\nhumidity = 10\ntemperature = 10\nbroadband = 10\nir = 10\nlux = 10\nco2 = 10\nled_state = steady\ncrisis = off","output":"str","x":600,"y":180,"wires":[["4b4aa638.4cdf2"]]},{"id":"fb27835c.0b5e98","type":"template","z":"53e12597.b17514","name":"crisis template","field":"payload","fieldType":"msg","format":"text","syntax":"plain","template":"[DEFAULT]\nhumidity = 5\ntemperature = 5\nbroadband = 5\nir = 5\nlux = 5\nco2 = 5\nled_state = alternating\ncrisis = on","output":"str","x":600,"y":100,"wires":[["4b4aa638.4cdf2"]]},{"id":"6ebc2b0e.279c14","type":"switch","z":"53e12597.b17514","name":"change mode","property":"payload","propertyType":"msg","rules":[{"t":"nempty"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":380,"y":140,"wires":[["fb27835c.0b5e98"],["2c6b2a42.0a42a6"]]},{"id":"4b4aa638.4cdf2","type":"file","z":"53e12597.b17514","name":"write config","filename":"/pi_cfg/config.ini","appendNewline":true,"createDir":false,"overwriteFile":"true","x":810,"y":140,"wires":[[]]},{"id":"df44b711.519fe","type":"mqtt in","z":"61cc2a48.abb774","name":"camera start","topic":"city/vid","qos":"2","broker":"2d13a126.7dd3ee","x":150,"y":160,"wires":[["8097d839.b9ae7","b047cc14.868e9"]]},{"id":"8097d839.b9ae7","type":"link out","z":"61cc2a48.abb774","name":"camera start link","links":["b62c468f.1ab5e"],"x":315,"y":100,"wires":[]},{"id":"b62c468f.1ab5e","type":"link in","z":"894e7e70.f578a8","name":"cam crisis","links":["8097d839.b9ae7"],"x":195,"y":220,"wires":[["a09b7ce8.26f78"]]},{"id":"78d8719c.a7b6b","type":"link out","z":"61cc2a48.abb774","name":"send cam","links":["a1bbc200.da8f48"],"x":555,"y":220,"wires":[]},{"id":"b047cc14.868e9","type":"function","z":"61cc2a48.abb774","name":"prepend prefix","func":"msg.payload = \"cmd/\" + msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":220,"wires":[["78d8719c.a7b6b"]]},{"id":"6957506b.07a128","type":"mqtt in","z":"a57e582b.a246a","name":"","topic":"ersir/entries","qos":"2","broker":"2d13a126.7dd3ee","x":160,"y":140,"wires":[["27a3cc24.de58d4"]]},{"id":"27a3cc24.de58d4","type":"debug","z":"a57e582b.a246a","name":"","active":true,"tosidebar":false,"console":true,"tostatus":false,"complete":"payload","x":450,"y":200,"wires":[]}]