nodered/data/flows.json
[{"id":"93df162.cbb14e8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"2d13a126.7dd3ee","type":"mqtt-broker","z":"","name":"master_broker","broker":"mqtt","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"d5911b2.b0587e8","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"748d3bcb.4613f4","type":"ui_group","z":"","name":"City Information","tab":"d5911b2.b0587e8","disp":true,"width":"12","collapse":false},{"id":"c8833ada.824d48","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"51fbed70.3ce2d4","type":"mqtt in","z":"93df162.cbb14e8","name":"alert state sub","topic":"city/alert_state","qos":"2","broker":"2d13a126.7dd3ee","x":120,"y":40,"wires":[["6396d7f0.eecbe8","976a9d0d.9477a","2d763813.dd3e78"]]},{"id":"6396d7f0.eecbe8","type":"debug","z":"93df162.cbb14e8","name":"Dump Incoming Message","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","x":640,"y":40,"wires":[]},{"id":"9a721f06.d41","type":"ui_gauge","z":"93df162.cbb14e8","name":"","group":"748d3bcb.4613f4","order":1,"width":0,"height":0,"gtype":"gage","title":"Warn Level","label":"Severity","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":590,"y":120,"wires":[]},{"id":"976a9d0d.9477a","type":"function","z":"93df162.cbb14e8","name":"Set warning level","func":"if(msg.payload == \"emergency\") {\n    msg.payload = 10;\n} else {\n    msg.payload = 1;\n}\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":120,"wires":[["9a721f06.d41"]]},{"id":"2d763813.dd3e78","type":"function","z":"93df162.cbb14e8","name":"Log to buffer","func":"// initialise the counter to 0 if it doesn't exist already\nvar dashboardLog = context.get('dashboardLog')|| [];\nmsg.ts = new Date().toString();\ndashboardLog.push(msg);\nif (dashboardLog.length > 20){\n    // Delete oldest message if > 20\n    dashboardLog.shift();\n    dashboardLog.length = 20;\n} \n\n// store the value back\ncontext.set('dashboardLog',dashboardLog);\n\n// make it part of the outgoing msg object\nmsg = {};\nmsg.payload = dashboardLog;\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":180,"wires":[["3be995f3.fde05a","6396d7f0.eecbe8"]]},{"id":"3be995f3.fde05a","type":"ui_template","z":"93df162.cbb14e8","group":"748d3bcb.4613f4","name":"Display log","order":2,"width":"12","height":"6","format":"<ul>\n <li ng-repeat=\"x in msg.payload\">\n <font color=\"red\">{{x.topic}}</font>\n    <ul>\n        <li>{{x.payload}} - {{x.ts}}</li>\n    </ul>\n </li>\n</ul>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":590,"y":180,"wires":[[]]}]